<!-- // dev-v0.1.0 - Custom UI templatesand button and widget injections

/////
//v0.1.0
//- changed the serving location of cytube-export.js to static from media
//- Initial release
/////

// Stored at: /mediacms/templates/root.html
// This file should help add the the CyTube button and encoding widget -->
 
 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <title>{% block headtitle %}{{PORTAL_NAME}}{% endblock headtitle %}</title>

        {% include "common/head-meta.html" %}

        {% block headermeta %}

        <meta property="og:title" content="{{PORTAL_NAME}}">
        <meta property="og:type" content="website">

        {%endblock headermeta %}

        {% block externallinks %}{% endblock externallinks %}

        {% include "common/head-links.html" %}

        {% block topimports %}{%endblock topimports %}

        {% include "config/index.html" %}

        {% if not USE_ROUNDED_CORNERS %}
        <style>
            .viewer-container .player-container, .item-thumb, a.item-thumb {
                border-radius: revert !important;
            }
        </style>
        {% endif %}

    {% endblock head %}

</head>

<body>

    {% block beforecontent %}{% endblock %}

    <div class="page-main-wrap">
        {% include "messages.html" %}
        {% block content %}{% endblock %}
    </div>

    {% block aftercontent %}{% endblock %}

    {% block externalscripts %}{% endblock externalscripts %}

    {% include "common/body-scripts.html" %}

    {% block bottomimports %}{% endblock bottomimports %}
    <!-- CyTube Export Button Script -->
    <!-- <script src="/media/custom/cytube-export.js"></script> -->
    <script src="{% static 'js/cytube-export.js' %}"></script>

    {% load static %}
    <!-- Encoding Status Widget -->
    <script src="{% static 'js/encoding-status.js' %}"></script>

</body>

</html>

